html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 320px / 15;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 360px / 15;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 375px / 15;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 384px / 15;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 400px / 15;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 414px / 15;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 424px / 15;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 480px / 15;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 540px / 15;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 720px / 15;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 750px / 15;
  }
}
@media screen and (min-width: 750px) {
  body {
    width: 750px;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  /* 第三行 */
  /* 先设置大多数按键的样式 */
  /* tab键 用伪元素作图*/
  /* 右边三个好多符号的键 字体改小一些*/
  /* 第一个按键 */
  /* 第二个按键 */
  /* 第三个按键 */
  /* 第四行 */
  /* 大多数键 */
  /* 第一个切换键 */
  /* 冒号键和引号键 字体小一些*/
  /* 冒号键 */
  /* 引号键 */
  /* enter键 依然伪元素作图*/
  /* 第五行 */
  /* 第一个和最后一个键的向上箭头 依旧伪元素作图 等把背景颜色改了
    再回来挖掉中间的连线*/
  /* 第一个键 */
  /* 最后一个键 有点错位稍微修一修就好 */
  /* 三个符号键 */
  /* 字体尺寸小一些 */
  /* 第一个符号键 */
  /* 第二个符号键 */
  /* 第三个符号键 */
  /* 第六行 */
  /* 伪元素画出control键的向上箭头 */
  /* 伪元素画出option键的符号 */
  /* 伪元素画出command键的符号 */
  /* 左边的键 */
  /* 右边的键 */
  /* 四个方向键 */
  /* 伪元素画出箭头 */
  /* 按键文字end */
  /* 方向键的html结构有点问题，调整一下 */
}
body .home {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .home:hover {
  box-shadow: none;
}
body .box {
  position: relative;
  left: 50%;
  transform: translateX(-40%);
  width: 100%;
  margin-top: 1rem;
}
body .box .color {
  position: absolute;
  left: -0.6rem;
  top: -0.6rem;
  border-radius: 50%;
  border-top: solid 3.6rem #6EE07D;
  border-left: solid 3.6rem #6EE07D;
  border-right: solid 3.6rem #22CCFF;
  border-bottom: solid 3.6rem #FDA604;
  z-index: -3;
}
body .box .clock {
  width: 6rem;
  height: 6rem;
  box-shadow: inset 0 0px 10px 6px rgba(255, 255, 255, 0.5), 0 0px 25px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  position: absolute;
}
body .box .clock::before {
  content: '';
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  bottom: -0.6rem;
  right: -0.6rem;
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0px 25px rgba(53, 52, 52, 0.5), 0 0px 10px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
body .box .clock::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.4rem;
  height: 0.4rem;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 3;
  border: 2px solid #4f9260;
}
body .box .clock .hour {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.32rem;
  height: 3.4rem;
  background-image: linear-gradient(360deg, transparent 50%, #ff9900 50%);
  transform: translate(-50%, -50%);
  border-radius: 0.1rem;
  transform-origin: center;
}
body .box .clock .min {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.2rem;
  height: 5rem;
  background-image: linear-gradient(360deg, transparent 50%, #00b7ff 50%);
  transform: translate(-50%, -50%);
  border-radius: 0.1rem;
  z-index: 1;
  transform-origin: center;
}
body .box .clock .sec {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.12rem;
  height: 6rem;
  background-image: linear-gradient(360deg, transparent 30%, #edf3eb 30%);
  transform: translate(-50%, -50%);
  border-radius: 0.06rem;
  z-index: 2;
  transform-origin: center;
}
body .title1 {
  margin-top: 7rem;
  width: 100%;
}
body .title1 h2 {
  font-size: 0.8rem;
  font-family: serif;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0.025rem 0.025rem 1px rgba(255, 255, 255, 0.8);
  line-height: 1rem;
}
body .title1 h2:nth-child(1) {
  text-align: left;
}
body .title1 h2:nth-child(2) {
  text-align: right;
}
body .title1 h4 {
  font-size: 0.6rem;
  font-family: "Times New Roman";
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(0, 0, 0, 0.3);
}
body .title1 h4:nth-child(3) {
  text-align: left;
}
body .title1 h4:nth-child(4) {
  text-align: right;
}
body .title2 {
  margin-top: 1rem;
  width: 100%;
}
body .title2 h2 {
  text-align: center;
  font-size: 0.8rem;
  font-family: serif;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0.025rem 0.025rem 1px rgba(255, 255, 255, 0.8);
  line-height: 1rem;
}
body .title2 h2:nth-child(1) {
  text-indent: -2rem;
}
body .title2 h2:nth-child(2) {
  text-indent: 2rem;
}
body .title2 h4 {
  text-align: center;
  font-size: 0.6rem;
  font-family: "Times New Roman";
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(0, 0, 0, 0.3);
}
body .title2 h4:nth-child(4) {
  text-align: right;
}
body .image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10rem;
  margin-top: 1rem;
}
body .image div {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
body .image img {
  display: block;
  height: 100%;
}
body .image .left {
  flex-wrap: wrap;
  width: 40%;
  height: 80%;
}
body .image .left .up {
  width: 100%;
  height: 70%;
  /* 渐变加毛玻璃效果 */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
  /* 重点：元素背景模糊化 */
  backdrop-filter: blur(11px);
  /* 设置上高光，左高光 */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
body .image .left .up:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .image .left .up img {
  height: 70%;
  width: 100%;
}
body .image .left .down {
  width: 100%;
  height: 30%;
  /* 渐变加毛玻璃效果 */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
  /* 重点：元素背景模糊化 */
  backdrop-filter: blur(11px);
  /* 设置上高光，左高光 */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
body .image .left .down:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .image .right {
  flex-wrap: wrap;
  width: 60%;
  height: 80%;
}
body .image .right .up {
  width: 100%;
  height: 30%;
  /* 渐变加毛玻璃效果 */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
  /* 重点：元素背景模糊化 */
  backdrop-filter: blur(11px);
  /* 设置上高光，左高光 */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
body .image .right .up:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .image .right .below {
  width: 100%;
  height: 70%;
}
body .image .right .below .l {
  width: 50%;
  height: 100%;
  /* 渐变加毛玻璃效果 */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
  /* 重点：元素背景模糊化 */
  backdrop-filter: blur(11px);
  /* 设置上高光，左高光 */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
body .image .right .below .l:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .image .right .below .l img {
  height: 50%;
  width: 100%;
}
body .image .right .below .r {
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}
body .image .right .below .r .u {
  width: 100%;
  height: 50%;
  /* 渐变加毛玻璃效果 */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
  /* 重点：元素背景模糊化 */
  backdrop-filter: blur(11px);
  /* 设置上高光，左高光 */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
body .image .right .below .r .u:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .image .right .below .r .d {
  width: 100%;
  height: 50%;
  background-color: white;
  /* 渐变加毛玻璃效果 */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
  /* 重点：元素背景模糊化 */
  backdrop-filter: blur(11px);
  /* 设置上高光，左高光 */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
body .image .right .below .r .d:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .image .bottom {
  width: 100%;
  height: 20%;
  /* 渐变加毛玻璃效果 */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
  /* 重点：元素背景模糊化 */
  backdrop-filter: blur(11px);
  /* 设置上高光，左高光 */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
body .image .bottom:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .keyboard {
  font-size: 12px;
  box-sizing: content-box;
  /* flex布局 主轴设为y轴 子项均分剩余空间 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 2.8rem;
  background-color: rgba(218, 217, 217, 0.3);
  border: 0.2rem solid rgba(218, 217, 217, 0.3);
  border-radius: 0.4rem;
  /* 第一行比其他行高度小一些 */
  /* 按键样式设置 相对定位、圆角，先设为粉色之后再去掉 */
  /* 第一行最后一个键小一些 */
  /* 第二行最后一个delete键大一些 */
  /* 第三行tab键大一些 */
  /* 第四行第一个和最后一个键大一些 */
  /* 第五行同理 */
  /* 第六行同理 根据实物尺寸调节flex参数 */
  /* 按键尺寸调整end */
  /* 按键文字start */
  /* 文字都放在span里 加绝对定位方便调节位置 字体颜色黑色 */
  /* 第一行 大多数按键位置文字位置一样 esc键单独调整 */
  /* 第二行 */
  /* 第二行有两个span 共同样式是一上一下摆放 */
  /* 第二行第一个键需要单独调整 */
  /* 第二行第五个键需要单独调整 */
  /* 第二行第七个键需要单独调整 */
  /* 第二行第十二个键微调 */
  /* 第二行第十四个键微调 伪元素画出箭头边框*/
}
body .keyboard > div {
  /* 每行flex布局 子项两边贴边后均分剩余空间 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  border: 0.06rem solid transparent;
}
body .keyboard > div:nth-child(1) {
  flex: 0.5;
}
body .keyboard > div .key {
  position: relative;
  height: 100%;
  width: 0.6rem;
  background-color: #fff;
  border-radius: 0.1rem;
  margin-right: 0.1rem;
  box-shadow: 0.06rem 0.06rem 10px rgba(0, 0, 0, 0.2), -0.06rem -0.06rem 10px #ffffff;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
body .keyboard > div .key:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.1), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .keyboard .row1 .key {
  flex: 1;
}
body .keyboard .row1 .key:nth-child(14) {
  flex: 0.5;
  margin-right: 0;
}
body .keyboard .row2 .key {
  flex: 1;
}
body .keyboard .row2 .key:nth-child(14) {
  flex: 1.5;
  margin-right: 0;
}
body .keyboard .row3 .key {
  flex: 1;
}
body .keyboard .row3 .key:nth-child(1) {
  flex: 1.5;
}
body .keyboard .row3 .key:nth-child(14) {
  margin-right: 0;
}
body .keyboard .row4 .key {
  flex: 1;
}
body .keyboard .row4 .key:nth-child(1) {
  flex: 1.75;
}
body .keyboard .row4 .key:nth-child(13) {
  flex: 1.75;
  margin-right: 0;
}
body .keyboard .row5 .key {
  flex: 1;
}
body .keyboard .row5 .key:nth-child(1) {
  flex: 2;
}
body .keyboard .row5 .key:nth-child(12) {
  flex: 2;
  margin-right: 0;
}
body .keyboard .row6 .key {
  flex: 1;
}
body .keyboard .row6 .key:nth-child(5) {
  flex: 5;
}
body .keyboard .row6 .key:nth-child(6) {
  flex: 1.1;
}
body .keyboard .row6 .key:nth-child(8) {
  flex: 3;
  margin-right: 0;
}
body .keyboard > div .key span {
  position: absolute;
  color: #000;
}
body .keyboard .row1 .key span {
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
}
body .keyboard .row1 .key:nth-child(1) span {
  left: 40%;
  top: -20%;
  transform: translateX(-50%);
}
body .keyboard .row2 .key span {
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
}
body .keyboard .row2 .key span:nth-child(1) {
  top: 0;
}
body .keyboard .row2 .key span:nth-child(2) {
  top: 50%;
}
body .keyboard .row2 .key:nth-child(1) span {
  left: 20%;
}
body .keyboard .row2 .key:nth-child(1) span:nth-child(3) {
  left: 70%;
  top: 50%;
}
body .keyboard .row2 .key:nth-child(5) span:nth-child(1) {
  left: 30%;
}
body .keyboard .row2 .key:nth-child(5) span:nth-child(3) {
  left: 70%;
}
body .keyboard .row2 .key:nth-child(7) span:nth-child(1) {
  left: 30%;
}
body .keyboard .row2 .key:nth-child(7) span:nth-child(3) {
  left: 70%;
  top: 10%;
}
body .keyboard .row2 .key:nth-child(12) span:nth-child(2) {
  top: 40%;
}
body .keyboard .row2 .key:nth-child(14) span {
  top: 35%;
  left: 75%;
}
body .keyboard .row2 .key:nth-child(14) span::before,
body .keyboard .row2 .key:nth-child(14) span::after {
  content: '';
  display: block;
  position: absolute;
}
body .keyboard .row2 .key:nth-child(14) span::before {
  top: -15%;
  left: -20%;
  width: 0.2rem;
  height: 0.2rem;
  border: 0.04rem solid #000;
  border-left: 0.04rem solid transparent;
}
body .keyboard .row2 .key:nth-child(14) span::after {
  top: 0%;
  left: -60%;
  width: 0.16rem;
  height: 0.16rem;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}
body .keyboard .row3 .key span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .keyboard .row3 .key:nth-child(1) .tab {
  position: absolute;
  left: 15%;
  top: 50%;
  width: 0.2rem;
  height: 0.2rem;
  border-right: 0.04rem solid #000;
}
body .keyboard .row3 .key:nth-child(1) .tab::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.24rem;
  height: 0px;
  border: 1px solid #000;
}
body .keyboard .row3 .key:nth-child(1) .tab::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 0.12rem;
  height: 0.12rem;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  transform: translateX(-10%) translateY(-50%) rotate(45deg);
}
body .keyboard .row3 .key:nth-child(n+12) span {
  font-size: 0.24rem;
}
body .keyboard .row3 .key:nth-child(12) span:nth-child(1) {
  top: 30%;
  left: 15%;
}
body .keyboard .row3 .key:nth-child(12) span:nth-child(2) {
  top: 30%;
  left: 75%;
}
body .keyboard .row3 .key:nth-child(12) span:nth-child(3) {
  top: 75%;
  left: 15%;
}
body .keyboard .row3 .key:nth-child(12) span:nth-child(4) {
  top: 75%;
  left: 75%;
}
body .keyboard .row3 .key:nth-child(13) span:nth-child(1) {
  top: 25%;
  left: 30%;
}
body .keyboard .row3 .key:nth-child(13) span:nth-child(2) {
  top: 30%;
  left: 75%;
}
body .keyboard .row3 .key:nth-child(13) span:nth-child(3) {
  top: 75%;
  left: 30%;
}
body .keyboard .row3 .key:nth-child(13) span:nth-child(4) {
  top: 75%;
  left: 75%;
}
body .keyboard .row3 .key:nth-child(14) span:nth-child(1) {
  top: 30%;
  left: 75%;
}
body .keyboard .row3 .key:nth-child(14) span:nth-child(2) {
  top: 70%;
  left: 30%;
}
body .keyboard .row3 .key:nth-child(14) span:nth-child(3) {
  top: 75%;
  left: 75%;
}
body .keyboard .row4 .key span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .keyboard .row4 .key:nth-child(1) span {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  font-size: 0.28rem;
  top: 30%;
}
body .keyboard .row4 .key:nth-child(1) span::before {
  content: '';
  display: block;
  width: 0.06rem;
  height: 0.06rem;
  background-color: #666;
  border-radius: 50%;
  margin-left: 10%;
}
body .keyboard .row4 .key:nth-child(n+11) span {
  font-size: 0.24rem;
}
body .keyboard .row4 .key:nth-child(11) span:nth-child(1) {
  top: 30%;
}
body .keyboard .row4 .key:nth-child(11) span:nth-child(2) {
  top: 70%;
}
body .keyboard .row4 .key:nth-child(12) span:nth-child(1) {
  top: 40%;
}
body .keyboard .row4 .key:nth-child(12) span:nth-child(2) {
  top: 70%;
}
body .keyboard .row4 .key:nth-child(13) span {
  top: 60%;
  left: 80%;
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  border-top: 0.04rem solid #000;
  border-right: 0.04rem solid #000;
  border-radius: 0.04rem;
}
body .keyboard .row4 .key:nth-child(13) span::before {
  content: '';
  display: block;
  position: absolute;
  top: 80%;
  left: -120%;
  height: 0;
  width: 0.4rem;
  border: 1px solid #000;
  border-radius: 2px;
}
body .keyboard .row4 .key:nth-child(13) span::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -120%;
  width: 0.1rem;
  height: 0.1rem;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}
body .keyboard .row5 .key span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .keyboard .row5 .key:nth-child(1) span::before {
  content: '';
  display: block;
  position: absolute;
  left: 0.1rem;
  top: -0.02rem;
  width: 0.12rem;
  height: 0.08rem;
  border: 0.04rem solid #000;
  border-top: 0.04rem solid #fff;
  border-radius: 0.04rem;
}
body .keyboard .row5 .key:nth-child(1) span {
  position: absolute;
  top: 60%;
  left: 20%;
  display: block;
  width: 0.36rem;
  height: 0;
  border: 1px solid #000;
}
body .keyboard .row5 .key:nth-child(1) span::after {
  content: '';
  display: block;
  position: absolute;
  top: -0.14rem;
  left: 0.06rem;
  width: 0.26rem;
  height: 0.26rem;
  border-top: 0.04rem solid #000;
  border-left: 0.04rem solid #000;
  border-radius: 1px;
  transform: rotate(45deg);
}
body .keyboard .row5 .key:nth-child(12) span::before {
  content: '';
  display: block;
  position: absolute;
  left: 0.06rem;
  top: -0.02rem;
  width: 0.12rem;
  height: 0.08rem;
  border: 0.04rem solid #000;
  border-top: 0.04rem solid #fff;
  border-radius: 0.04rem;
}
body .keyboard .row5 .key:nth-child(12) span {
  position: absolute;
  top: 60%;
  left: 70%;
  display: block;
  width: 0.36rem;
  height: 0;
  border: 1px solid #000;
}
body .keyboard .row5 .key:nth-child(12) span::after {
  content: '';
  display: block;
  position: absolute;
  top: -0.14rem;
  left: 0.04rem;
  width: 0.2rem;
  height: 0.2rem;
  border-top: 0.04rem solid #000;
  border-left: 0.04rem solid #000;
  border-radius: 0.02rem;
  transform: rotate(45deg);
}
body .keyboard .row5 .key:nth-child(9) span,
body .keyboard .row5 .key:nth-child(10) span,
body .keyboard .row5 .key:nth-child(11) span {
  font-size: 0.24rem;
}
body .keyboard .row5 .key:nth-child(9) span:nth-child(1) {
  top: 34%;
  left: 20%;
}
body .keyboard .row5 .key:nth-child(9) span:nth-child(2) {
  top: 30%;
  left: 70%;
}
body .keyboard .row5 .key:nth-child(9) span:nth-child(3) {
  top: 60%;
  left: 25%;
}
body .keyboard .row5 .key:nth-child(10) span:nth-child(1) {
  top: 34%;
  left: 30%;
}
body .keyboard .row5 .key:nth-child(10) span:nth-child(2) {
  top: 30%;
  left: 70%;
}
body .keyboard .row5 .key:nth-child(10) span:nth-child(3) {
  top: 60%;
  left: 25%;
}
body .keyboard .row5 .key:nth-child(10) span:nth-child(4) {
  top: 60%;
  left: 70%;
}
body .keyboard .row5 .key:nth-child(11) span:nth-child(1) {
  top: 30%;
  left: 50%;
}
body .keyboard .row5 .key:nth-child(11) span:nth-child(2) {
  top: 70%;
  left: 50%;
}
body .keyboard .row6 .key span {
  font-size: 0.2rem;
  bottom: 3%;
  left: 10%;
}
body .keyboard .row6 .key:nth-child(2) span::before {
  content: '';
  display: block;
  position: absolute;
  top: -30%;
  left: 60%;
  width: 0.08rem;
  height: 0.08rem;
  border-top: 0.04rem solid #000;
  border-left: 0.04rem solid #000;
  border-radius: 1px;
  transform: rotate(45deg);
}
body .keyboard .row6 .key:nth-child(4) span:nth-child(1)::before {
  top: -35%;
  left: 70%;
  width: 0.08rem;
  height: 0.08rem;
  border-radius: 0;
}
body .keyboard .row6 .key:nth-child(4) span:nth-child(1)::after {
  top: -60%;
  left: 55%;
  width: 0.06rem;
  height: 0.06rem;
}
body .keyboard .row6 .key:nth-child(4) span:nth-child(2) {
  top: 5%;
  left: 70%;
  width: 0.1rem;
  height: 0.1rem;
}
body .keyboard .row6 .key:nth-child(4) span:nth-child(2)::before {
  top: 270%;
  left: 0;
  width: 0.06rem;
  height: 0.06rem;
}
body .keyboard .row6 .key:nth-child(4) span:nth-child(2)::after {
  top: 270%;
  left: -300%;
  width: 0.06rem;
  height: 0.06rem;
}
body .keyboard .row6 .key:nth-child(6) span:nth-child(1)::before {
  top: -35%;
  left: 20%;
  width: 0.08rem;
  height: 0.08rem;
  border-radius: 0;
}
body .keyboard .row6 .key:nth-child(6) span:nth-child(1)::after {
  top: -60%;
  left: 10%;
  width: 0.06rem;
  height: 0.06rem;
}
body .keyboard .row6 .key:nth-child(6) span:nth-child(2) {
  top: 5%;
  left: 33%;
  width: 0.1rem;
  height: 0.1rem;
}
body .keyboard .row6 .key:nth-child(6) span:nth-child(2)::before {
  top: 270%;
  left: -35%;
  width: 0.06rem;
  height: 0.06rem;
}
body .keyboard .row6 .key:nth-child(6) span:nth-child(2)::after {
  top: 270%;
  left: -250%;
  width: 0.06rem;
  height: 0.06rem;
}
body .keyboard .row6 .key:nth-child(8) span {
  position: absolute;
  width: 0.45rem;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 3px;
}
body .keyboard .row6 .key:nth-child(8) span:nth-child(1) {
  left: 50%;
  transform: translateX(-50%);
}
body .keyboard .row6 .key:nth-child(8) span:nth-child(2) {
  left: 50%;
  transform: translateX(-50%) translateY(-0.25rem);
}
body .keyboard .row6 .key:nth-child(8) span:nth-child(3) {
  left: 50%;
  transform: translateX(60%);
}
body .keyboard .row6 .key:nth-child(8) span:nth-child(4) {
  left: 50%;
  transform: translateX(-160%);
}
body .keyboard .row6 .key:nth-child(8) span:nth-child(1)::before,
body .keyboard .row6 .key:nth-child(8) span:nth-child(2)::before,
body .keyboard .row6 .key:nth-child(8) span:nth-child(3)::before,
body .keyboard .row6 .key:nth-child(8) span:nth-child(4)::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: 0.08rem solid #000;
}
body .keyboard .row6 .key:nth-child(8) span:nth-child(1)::before {
  top: 70%;
  border-left: 0.08rem solid transparent;
  border-right: 0.08rem solid transparent;
  border-bottom: 0.08rem solid transparent;
}
body .keyboard .row6 .key:nth-child(8) span:nth-child(2)::before {
  top: 30%;
  border-left: 0.08rem solid transparent;
  border-right: 0.08rem solid transparent;
  border-top: 0.08rem solid transparent;
}
body .keyboard .row6 .key:nth-child(8) span:nth-child(3)::before {
  border-top: 0.08rem solid transparent;
  border-right: 0.08rem solid transparent;
  border-bottom: 0.08rem solid transparent;
}
body .keyboard .row6 .key:nth-child(8) span:nth-child(4)::before {
  border-left: 0.08rem solid transparent;
  border-top: 0.08rem solid transparent;
  border-bottom: 0.08rem solid transparent;
}
body .keyboard .row6 .key:nth-child(8) {
  box-shadow: none;
}
body .keyboard .row6 .key:nth-child(8) span {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -3px -3px 10px #ffffff;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
body .keyboard .row6 .key:nth-child(8) span:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.1), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .footer {
  margin-top: 8rem;
}
