html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 320px / 15;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 360px / 15;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 375px / 15;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 384px / 15;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 400px / 15;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 414px / 15;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 424px / 15;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 480px / 15;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 540px / 15;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 720px / 15;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 750px / 15;
  }
}
@media screen and (min-width: 750px) {
  body {
    width: 750px;
  }
}
* {
  margin: 0;
  padding: 0;
}
body .movie {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .movie:hover {
  box-shadow: none;
}
body .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  background: transparent;
}
body .box ul {
  width: 100%;
  height: 36rem;
  overflow: hidden;
  transition: all 0.3s;
}
body .box ul li {
  position: relative;
  text-align: center;
  list-style-type: none;
  width: 100%;
  height: 3rem;
  transition: all 0.5s;
}
body .box ul li:hover {
  height: 9rem;
}
body .box ul li:hover img {
  opacity: 1;
}
body .box ul li img {
  width: 90%;
  height: 9rem;
  opacity: 0.8;
  transition: all 0.3s;
}
body .head h2:nth-child(1) {
  text-align: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0.025rem 0.025rem 1px rgba(255, 255, 255, 0.8);
  margin-top: 1rem;
  line-height: 1rem;
  letter-spacing: 0.5rem;
}
body .head h2:nth-child(2) {
  font-size: 0.4rem;
  font-weight: 700;
  line-height: 0.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2rem;
}
body .container {
  position: relative;
  width: 90%;
  height: 15rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  transition: all 0.3s;
  color: #000;
  text-decoration: none;
  /* 渐变加毛玻璃效果 */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(11px);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
body .container:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
  transform: translateY(-10px);
}
body .container .cover {
  margin: 0.3rem auto;
  width: 90%;
  height: 8rem;
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}
body .container .cover img {
  width: 100%;
  height: 100%;
}
body .container .text .title h2 {
  text-align: center;
  font-size: 0.5rem;
  font-family: serif;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0.025rem 0.025rem 1px rgba(255, 255, 255, 0.8);
  margin: 0.2rem auto;
  line-height: 0.4rem;
}
body .container .text .title h4 {
  text-align: center;
  font-size: 0.4rem;
  font-family: serif;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(0, 0, 0, 0.3);
  line-height: 0.4rem;
}
body .container .text .director h2 {
  text-align: center;
  font-size: 0.4rem;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(255, 255, 255, 0.4);
  margin: 0.2rem auto 0rem;
}
body .container .text .director h4 {
  text-align: center;
  font-size: 0.25rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(0, 0, 0, 0.3);
}
body .container .text .star h2 {
  text-align: center;
  font-size: 0.3rem;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(255, 255, 255, 0.4);
  margin: 0.1rem auto 0rem;
}
body .container .text .star h4 {
  text-align: center;
  font-size: 0.15rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(0, 0, 0, 0.3);
}
body .container .text .type h2 {
  text-align: center;
  font-size: 0.3rem;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(255, 255, 255, 0.4);
  margin: 0.1rem auto 0rem;
}
body .container .text .type h4 {
  text-align: center;
  font-size: 0.2rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(0, 0, 0, 0.3);
}
body .container .text .comment {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 3rem;
  text-align: center;
}
body .container .text .comment h2 {
  position: absolute;
  width: 100%;
  top: 15%;
  text-align: center;
  font-size: 0.6rem;
  font-family: serif;
  color: rgba(0, 0, 0, 0.8);
  margin: 0.1rem auto 0rem;
}
body .container .text .comment h2::before {
  content: "“";
  position: absolute;
  left: -5%;
  top: 0;
}
body .container .text .comment h2::after {
  content: "”";
  position: absolute;
  right: -5%;
  bottom: -30%;
}
body .container .text .comment h4 {
  position: absolute;
  width: 100%;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-family: serif;
  font-size: 0.4rem;
  color: rgba(255, 255, 255, 0.8);
}
body .container .text .comment h4::before {
  content: "「";
  position: absolute;
  left: -8%;
  top: -20%;
}
body .container .text .comment h4::after {
  content: "」";
  position: absolute;
  right: -8%;
  bottom: -10%;
}
