html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 320px / 15;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 360px / 15;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 375px / 15;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 384px / 15;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 400px / 15;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 414px / 15;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 424px / 15;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 480px / 15;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 540px / 15;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 720px / 15;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 750px / 15;
  }
}
@media screen and (min-width: 750px) {
  body {
    width: 750px;
  }
}
* {
  margin: 0;
  padding: 0;
}
body .photograpy {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .photograpy:hover {
  box-shadow: none;
}
body section {
  margin: 2rem auto 2rem;
  position: relative;
  width: 3rem;
  height: 3rem;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
}
body section div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 1s;
}
body section div img {
  width: 100%;
  height: 100%;
}
body section div:nth-child(1) {
  transform: translateZ(1.5rem);
  z-index: 1;
}
body section div:nth-child(2) {
  transform: rotateX(-180deg) translateZ(1.5rem);
  z-index: 1;
}
body section div:nth-child(3) {
  transform: rotateX(90deg) translateZ(1.5rem);
  z-index: 1;
}
body section div:nth-child(4) {
  transform: rotateX(-90deg) translateZ(1.5rem);
  z-index: 1;
}
body section div:nth-child(5) {
  transform: rotateY(90deg) translateZ(1.5rem);
  z-index: 1;
}
body section div:nth-child(6) {
  transform: rotateY(-90deg) translateZ(1.5rem);
  z-index: 1;
}
body section div:nth-child(7) {
  transform: translateZ(1.5rem);
}
body section div:nth-child(8) {
  transform: rotateX(-180deg) translateZ(1.5rem);
}
body section div:nth-child(9) {
  transform: rotateX(90deg) translateZ(1.5rem);
}
body section div:nth-child(10) {
  transform: rotateX(-90deg) translateZ(1.5rem);
}
body section div:nth-child(11) {
  transform: rotateY(90deg) translateZ(1.5rem);
}
body section div:nth-child(12) {
  transform: rotateY(-90deg) translateZ(1.5rem);
}
body section:hover div:nth-child(1) {
  transform: translateZ(4rem);
}
body section:hover div:nth-child(2) {
  transform: rotateX(-180deg) translateZ(4rem);
}
body section:hover div:nth-child(3) {
  transform: rotateX(90deg) translateZ(4rem);
}
body section:hover div:nth-child(4) {
  transform: rotateX(-90deg) translateZ(4rem);
}
body section:hover div:nth-child(5) {
  transform: rotateY(90deg) translateZ(4rem);
}
body section:hover div:nth-child(6) {
  transform: rotateY(-90deg) translateZ(4rem);
}
@keyframes rotate {
  0% {
    transform: rotateY(0) rotateX(0);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
body input {
  display: none;
}
body input:checked ~ .sidenav a {
  transform: translateX(-100%);
}
body input:checked ~ .sidenav label {
  left: 0;
}
body .sidenav {
  position: fixed;
  left: 0rem;
  top: 2rem;
}
body .sidenav a {
  display: block;
  font-size: 0.4rem;
  text-decoration: none;
  transition: all 0.3s;
  font-style: italic;
  /* 渐变加毛玻璃效果 */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
  /* 重点：元素背景模糊化 */
  backdrop-filter: blur(11px);
  /* 设置上高光，左高光 */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0.025rem 0.025rem 1px rgba(255, 255, 255, 0.8);
  margin: 0;
}
body .sidenav a:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 3px 3px 10px rgba(0, 0, 0, 0.3), inset -3px -3px 10px rgba(255, 255, 255, 0.6);
}
body .sidenav a i {
  text-align: center;
  font-size: 0.3rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(0, 0, 0, 0.3);
}
body .sidenav label {
  position: absolute;
  right: -5%;
  top: 0;
  height: 100%;
  width: 0.3rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #666;
  transition: all 0.3s;
}
body .sidenav label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body div {
  margin-top: 1rem;
}
body div .cn {
  display: block;
  text-align: center;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0.025rem 0.025rem 1px rgba(255, 255, 255, 0.8);
}
body div .en {
  text-align: center;
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.025rem 0.025rem 1px rgba(0, 0, 0, 0.3);
}
body div img {
  width: 100%;
}
